body{
	background-color: #fafafa;
}
a.brand-logo{
	padding-left: 50px;
}
a{
	color: #0097a7;
}
.nav-wrapper{
	background-color: #212121 ;
	border: 1px solid #424242 ;
}
.nav-wrapper a:hover{
	background-color: transparent;
	color: #0097a7;
}
.nav-wrapper a:active{
	background-color: transparent;
	color: #0097a7;
}
#ver-mais{
	background-color: #0097a7;
}
.side-nav a{
	color: #fafafa;
}
#mobile-demo a:hover{
	background-color: transparent;
}
#mobile-demo a:active{
	border-left: 4px solid #0097a7;
}
#mobile-demo a:focus{
	border-left: 4px solid #0097a7;
}
.card-title.activator.grey-text.text-darken-4{
	padding-left: 40px;
}
#mobile-demo{
	background-color: #212121;
}
.card-content p{
}
i.material-icons.right{
	padding-top: 10px;
}
#more-about{
	padding-left: 55px;
}
.orange{
	background-color: #212121 !important;
	color: #fafafa;
}
.orange-text.text-lighten-3{
	color: #fafafa !important;
}
a i{
	color: #fafafa;
}
a i:hover{
	color: #0097a7;
}
li a:active{
	color: #0097a7;
}
li a:focus{
	color: #0097a7;
}
#description{
	text-align: justify;
}
.card-content.white-text{
	background-color: #0097a7;
	border-radius: 2px;
}
.icon-color{
	color: #0097a7;
}
p.light{
	text-align: justify;
}
i.fa.fa-angle-up{
	background-color: #b2dfdb;
}
.fa.fa-pied-piper{
	color: #9e9e9e;
}
.fa.fa-pied-piper:hover{
	color: #9e9e9e;
}
a.light{
	color: #9e9e9e ;
}
.fa.fa-file-o{
	color: #0097a7;
}
.fa.fa-graduation-cap{
	color: #0097a7;
}
.btn.waves-effect.waves-light{
	background-color: #0097a7;
}
.input-field input[type=text]:focus + label {
	color: #0097a7;
 }
.input-field input[type=text]:focus {
	border-bottom: 1px solid #0097a7;
}
.input-field .prefix.active {
    color: #0097a7;
}
.fa.fa-square{
   color: #0097a7;
}
.doc a:hover{
	color: #006064 !important;
	text-decoration: underline;
}
.card .card-action{
	background-color: #212121;
}